.Nav {
  box-sizing: border-box;
  width: 100%;
  padding: 15px 30px;

  background-color: rgba(255, 255, 255, 0.8);

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  backdrop-filter: blur(4px);

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  // top: 0;

  transition: box-shadow 0.5s linear, top 0.25s linear;
}

.Nav--shown {
  top: 0;

  // transition: top 0.25s linear;
}

.Nav--shadow {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.4);

  // transition: box-shadow 0.25s linear;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
  .Nav {
    height: 70px;
  }  

  .Nav--hidden {
    top: -70px
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .Nav {
    max-width: 320px;
    height: 100px;
  }

  .Nav--hidden {
    top: -100px;
  }
}

.Nav__list {
  padding: 0;
  margin: 0;

  list-style-type: none;
}

.Nav__item {
  display: inline-block;
  margin-left: 8px;
}

.Nav__item:first-child {
  margin-left: 0;
}

.Nav__icon {
  width: 24px;
  height: 24px;
}
