.Search__form {
  width: 100%;
}

.Search__container {
  box-sizing: border-box;

  padding: 8px;

  height: 40px;

  background-color: #e6e6e6;

  border-radius: 8px;
  border: 1px solid transparent;

  cursor: text;
}

.Search__container--highlight {
  background-color: #fff;
  border: 1px solid #d3d3d3;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
  .Search__container,
  .Search__form {
    max-width: 180px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .Search__container,
  .Search__form {
    max-width: 250px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .Search__container,
  .Search__form {
    max-width: 320px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {  
  .Search__container,
  .Search__form {
    max-width: 480px;
  }
}

.Search__input {
  width: 100%;
  
  background-color: transparent;
  color: #1d1d1d;
  
  border: none;
  outline: none;
  
  font-size: 1rem;
  
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  
}

.Search__input::placeholder {
  color: #a1a1a1;
}

.Search__container--highlight {
  .Search__input {
    color: #1d1d1d;
  }
}
