.card {
  margin: var(--gutters);
  padding: 8px;

  width: 10rem;
  min-width: 10rem;

  background-color: var(--bg-content-primary);
  color: var(--text-content-primary);
  
  border: 1px solid var(--border-primary);
  border-radius: 5px;

  box-shadow: 0 var(--shadow-layer-1) var(--shadow-blur) var(--shadow-primary);
}

.card-header {
  width: 100%;
  /* margin-bottom: 0.86666rem; */
}

.card-title {
  margin: 0;
}

.card-footer {
  width: 100%;
  /* margin-top: 8px; */
}

.card-bottom-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 719px) {
  .card {
    /* margin-bottom: 16px; */
  }
}

@media only screen and (min-width: 720px) {
  .card {
    /* margin-bottom: 24px; */
  }
}
