---
import Typography from "../Typography.astro";
import { getLangFromUrl, getTransalations } from "../../i18n";
import Section from "./Section.astro";
import Link from "../Link.astro";
import { getCategories } from "../../utilities/content.utility";
import List from "../List.astro";
import InlineItem from "../InlineItem.astro";
import ListItem from "../ListItem.astro";

export type Props = {
  inline?: boolean;
};

const { inline = true } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = getTransalations(lang);

const categories = await getCategories();
const Container = inline ? Fragment : List;
const Item = inline ? InlineItem : ListItem;
---

<Section title={t("section.categories")}>
  <div>
    {
      categories.length === 0 && (
        <Typography variant="body2">{t("categories.empty")}</Typography>
      )
    }

    {
      categories.length > 0 && (
        <Container>
          {categories.map((category) => (
            <Item>
              <Link href={`/categories/${encodeURIComponent(category)}`}>
                {category}
              </Link>
            </Item>
          ))}
        </Container>
      )
    }
  </div>
</Section>
