---
import { getCollection } from "astro:content";
import Typography from "../Typography.astro";
import { getLangFromUrl, getTransalations } from "../../i18n";
import Section from "./Section.astro";
import { formatDate } from "../../utilities/date.utility";

const lang = getLangFromUrl(Astro.url);
const t = getTransalations(lang);

const posts = await getCollection("blog");
const entries = posts
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 5)
  .map((post) => ({
    date: post.data.pubDate,
    title: post.data.title,
    href: post.slug,
  }));
---

<Section title={t("title.posts")}>
  <div class="entries">
    {
      entries.map((entry) => (
        <>
          <Typography variant="body2">
            {formatDate(Astro.url, entry.date)}
          </Typography>

          <a class="link" href={`/${entry.href}`}>
            {entry.title}
          </a>
        </>
      ))
    }
  </div>
</Section>

<style lang="scss">
  .entries {
    display: grid;
    grid-template-columns: max-content 1fr;
    @apply gap-x-8;
    @apply gap-y-2;
  }
</style>
