---
import { getLangFromUrl, getTransalations } from "../../i18n";
import Section from "./Section.astro";
import PostList from "../PostList.astro";
import { getBlogPosts } from "../../utilities/content.utility";

const lang = getLangFromUrl(Astro.url);
const t = getTransalations(lang);

const posts = await getBlogPosts();
const entries = posts
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 5)
  .map((post) => ({
    date: post.data.pubDate,
    title: post.data.title,
    slug: post.slug,
  }));
---

<Section title={t("section.recent")}>
  <PostList entries={entries} />
</Section>
