---
import { getCollection } from "astro:content";
import Typography from "../Typography.astro";
import { getLangFromUrl, getTransalations } from "../../i18n";
import Section from "./Section.astro";
import { formatDate } from "../../utilities/date.utility";
import Link from "../Link.astro";
import PostList from "../PostList.astro";

const lang = getLangFromUrl(Astro.url);
const t = getTransalations(lang);

const posts = await getCollection("blog");
const entries = posts
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 5)
  .map((post) => ({
    date: post.data.pubDate,
    title: post.data.title,
    slug: post.slug,
  }));
---

<Section title={t("section.recent")}>
  <PostList entries={entries} />
</Section>
