---
import Typography from "../Typography.astro";
import { getLangFromUrl, getTransalations } from "../../i18n";
import Section from "./Section.astro";
import Link from "../Link.astro";
import { getTags } from "../../utilities/content.utility";
import InlineItem from "../InlineItem.astro";

const lang = getLangFromUrl(Astro.url);
const t = getTransalations(lang);

const tags = await getTags();
---

<Section title={t("section.tags")}>
  <div>
    {
      tags.length === 0 && (
        <Typography variant="body2">{t("tags.empty")}</Typography>
      )
    }

    {
      tags.map((tag) => (
        <InlineItem>
          <Link href={`/tags/${encodeURIComponent(tag)}`}>{tag}</Link>
        </InlineItem>
      ))
    }
  </div>
</Section>
