{{ define "overlay" }}
<div class="nav__root">
  <aside class="nav__container">
    <div class="navbar">
      <nav class="navbar__content">
        {{ $currentLink := .RelPermalink }}
        
        {{ range .Site.RegularPages }}
          {{ if eq $currentLink .RelPermalink }}
            <span>{{ .Title }}</span>
          {{ else }}
            <a class="link" href="{{ .RelPermalink }}">{{ .Title }}</a>
          {{ end }}
        {{end}}
      </nav>
    </div>
  </aside>
</div>
{{ end }}

{{ define "main" }}
<div class="content">
  <section class="post">
    <h1 class="text-heading1">{{ .Title }}</h1>
    <div class="my-1">
      <span class="text-content2"
        >{{ .Date | time.Format ":date_medium" }}</span
      >
    </div>
    <h2 class="text-heading2">{{ .Description }}</h2>

    {{ if ne .TableOfContents "" }}
    <h6 class="font-primary font-sm mt-1 gb-1">CONTENTS</h6>
    {{ .TableOfContents }}
    {{ end }}

    <article class="post__content mt-1 text-content1">{{ .Content }}</article>
  </section>
</div>
{{ end }}
