{{ define "overlay" }}
<div class="nav__root hidden">
  <aside class="nav__container">
    <div class="navbar">
      <button class="navbar__close">
        {{ partial "icon" (dict "IconName" "x-mark" "IconSize" "32") }}
      </button>

      <nav class="navbar__content">
        {{ $currentLink := .RelPermalink }}
        
        {{ range .Site.RegularPages }}
          <div>
            {{ if eq $currentLink .RelPermalink }}
              <span>{{ .Title }}</span>
            {{ else }}
              <a class="link" href="{{ .RelPermalink }}">{{ .Title }}</a>
            {{ end }}
          </div>
        {{end}}
      </nav>
    </div>
  </aside>
</div>
{{ end }}

{{ define "main" }}
<div class="menu__root">
  <button class="menu__open">
    {{ partial "icon" (dict "IconName" "bars-3" "IconSize" "32") }}
  </button>
</div>

<div class="content">
  <section class="post">
    <h1 class="text-heading1">{{ .Title }}</h1>
    <div class="my-1">
      <span class="text-content2"
        >{{ .Date | time.Format ":date_medium" }}</span
      >
    </div>
    <h2 class="text-heading2">{{ .Description }}</h2>

    {{ if ne .TableOfContents "" }}
    <h6 class="font-primary font-sm mt-1 gb-1">CONTENTS</h6>
    {{ .TableOfContents }}
    {{ end }}

    <article class="post__content mt-1 text-content1">{{ .Content }}</article>
  </section>
</div>
{{ end }}

{{ define "scripts" }}
<script src="/js/post-view.js"></script>
{{ end }}
