---
import Link from "../Link.astro";

export interface Props {
  href: string;
  align?: "left" | "right";
  centerOnMobile?: boolean;
  inline?: boolean;
  className?: string;
}

const {
  href,
  align = "left",
  centerOnMobile = false,
  inline = false,
  className,
} = Astro.props;

const isCurrentPage =
  Astro.url.pathname === href || Astro.url.pathname === `${href}/`;
---

<li
  class:list={[
    className,
    "text-lg",
    {
      "inline-block": inline,
      "text-left": !centerOnMobile && align === "left",
      "md:text-left": centerOnMobile && align === "left",
      "text-right": !centerOnMobile && align === "right",
      "md:text-right": centerOnMobile && align === "right",
      "text-center": centerOnMobile,
      "font-bold": isCurrentPage,
    },
  ]}
>
  <Link href={href}><slot /></Link>
</li>
