---
import Link from "../Link.astro";

export interface Props {
  href: string;
  align?: "left" | "right";
  inline?: boolean;
  className?: string;
}

const { href, align = "left", inline = false, className } = Astro.props;

const isCurrentPage =
  Astro.url.pathname === href || Astro.url.pathname === `${href}/`;
---

<li
  class:list={[
    className,
    "text-lg",
    {
      "inline-block": inline,
      "text-left": align === "left",
      "text-right": align === "right",
      "font-bold": isCurrentPage,
    },
  ]}
>
  <Link href={href}><slot /></Link>
</li>
