---
import Page from "../layouts/Page.astro";
import Typography from "../components/Typography.astro";
---

<Page title="Not Found">
  <div class="flex h-full flex-col items-center justify-center">
    <Typography variant="h1">404</Typography>
    <Typography variant="h3">Not Found</Typography>
  </div>
</Page>
