.Blog {
  display: flex;
  justify-content: center;
}

.Blog__content {
  box-sizing: border-box;
  width: 100%;
  
  background-color: #fff;
}

.Blog__glass {
  background: #fff;
  filter: blur(8px);
  opacity: 0.4;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 7;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .Blog__content {
    padding: 15px 30px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .Blog__content {
    padding: 15px 30px;
  }  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .Blog__wrapper {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
  }

  .Blog__content {
    max-width: 620px;
    padding: 30px 60px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .Blog__content {
    max-width: 780px;
    padding: 30px 60px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {  
  .Blog__content {
    max-width: 920px;
    padding: 30px 60px;
  }
}
