---
import RecentPosts from "../components/RecentPosts.astro";
import Separator from "../components/Separator.astro";
import Page from "../layouts/Page.astro";
---

<Page>
  <Separator />

  <section>
    <RecentPosts />
  </section>
</Page>
