---
import { getLangFromUrl, getTransalations } from "../../i18n";
import HeaderLink from "./HeaderLink.astro";

const lang = getLangFromUrl(Astro.url);
const t = getTransalations(lang);

const SITE_TITLE = t("site.title");
---

<header>
  <h2>
    {SITE_TITLE}
  </h2>
  <nav>
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
    <HeaderLink href="https://twitter.com/astrodotbuild" target="_blank">
      Twitter
    </HeaderLink>
    <HeaderLink href="https://github.com/withastro/astro" target="_blank">
      GitHub
    </HeaderLink>
  </nav>
</header>
