---
import { Icon } from "astro-icon";
import IconLink from "../IconLink.astro";
---

<div class="flex gap-2">
  <IconLink href="https://github.com/sgq995">
    <Icon pack="tabler" name="brand-github" />
  </IconLink>

  <IconLink href="https://twitter.com/segoqu95">
    <Icon pack="tabler" name="brand-twitter" />
  </IconLink>

  <IconLink href="mailto:sgq995@gmail.com">
    <Icon pack="tabler" name="mail" />
  </IconLink>

  <IconLink href="https://www.linkedin.com/in/sebastian-gonzalez-quintero">
    <Icon pack="tabler" name="brand-linkedin" />
  </IconLink>


  <IconLink href="https://www.youtube.com/channel/UC34uuChc62fSICQ3_e0YTJQ">
    <Icon pack="tabler" name="brand-youtube" />
  </IconLink>
</div>
