---
import type { IconTypes } from "solid-icons";

export interface Props {
  icon: IconTypes;
}

const { icon: Icon } = Astro.props;
---

<span class="inline-flex items-center gap-2">
  <Icon class="icon icon--medium" />

  <slot />
</span>
