.Post {
  margin: 16px 0;
}

.Post__header {
  margin-bottom: 16px;
}

.Post__headline1 {
  margin: 0;

  font-family: 'Montserrat', sans-serif;

  font-size: 32px;
}

.Post__headline2 {
  margin: 0;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;

  font-size: 24px;
  line-height: 32px;
}

.Post__body {
  margin: 16px 0;

  font-family: 'Montserrat', sans-serif;

  font-size: 16px;
  text-align: justify;

  /* letter-spacing: 1px; */
  line-height: 32px;
}
