---
const ELEMENT_MAP = {
  h1: "h1",
  h2: "h2",
  h3: "h3",
  h4: "h4",
  h5: "h5",
  h6: "h6",
  body1: "span",
  body2: "span",
};

export interface Props {
  variant?: "h1" | "h2" | "h3" | "h4" | "h5" | "h6" | "body1" | "body2";
  className?: string;
}

const { variant = "body1", className } = Astro.props;
---

{
  variant === "h1" && (
    <h1 class={className}>
      <slot />
    </h1>
  )
}

{
  variant === "h2" && (
    <h2 class:list={[className, "text-3xl font-bold"]}>
      <slot />
    </h2>
  )
}

{
  variant === "h3" && (
    <h3 class:list={[className, "text-xl font-bold"]}>
      <slot />
    </h3>
  )
}

{
  variant === "h4" && (
    <h4 class={className}>
      <slot />
    </h4>
  )
}

{
  variant === "h6" && (
    <h6 class={className}>
      <slot />
    </h6>
  )
}

{
  variant === "body1" && (
    <span class={className}>
      <slot />
    </span>
  )
}

{
  variant === "body2" && (
    <span class:list={[className, "text-slate-900"]}>
      <slot />
    </span>
  )
}
