body {
  background: $color__pure-white;
}

.site {
  overflow-x: hidden;

  min-height: 100vh;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  
  @include screen($breakpoint-medium) {
    overflow-x: initial;

    max-width: 1080px;
  }
}

.main {
  flex-grow: 1;
  flex-shrink: 1;

  padding: 2em 0;

  transition: transform $transition-duration;

  .sidebar.toggled ~ & {
    transform: translateX($sidebar__width);
  }

  @include screen($breakpoint-medium) {
    flex-grow: 1;
  }
}

.container {
  width: 100%;
  max-width: $container__max-width;

  padding: 0 $container__gutter;
  margin: 0 auto;

  .has-sidebar & {
    margin-left: 0;
  }
}

.sep {
  &-after:after,
  &-before:before {
    content: '';
    display: block;
    width: 4em;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    border-bottom: 0.125em solid $color__grey;
  }
}

@import 'sidebar/sidebar';

@import 'header';

@import 'entry/entry';

@import 'lists';

@import 'footer';

@import 'others/others';

@import 'widgets/widgets';
