{{ define "main" }}

<div class="content">
  {{ $lastDate := "" }}
  <section class="post-list">
    {{ range .Site.RegularPages }}
    
    {{ $currentDate := (.Date.Format "January 2006") }}
    {{ if ne $currentDate $lastDate }}
    {{ $lastDate = .Date.Format "January 2006" }}
    <span class="post-list__date text-body1">{{ $lastDate }}</span>
    {{ else }}
    <span></span>
    {{ end }}

    <a href="{{ .RelPermalink }}">{{ partial "post-preview.html" . }}</a>
    {{end}}
  </section>
</div>

<!-- /main -->
{{ end }}
