.Post {
  margin: 16px 0;
}

.Post__header {
  margin-bottom: 16px;
}

.Post__headline1 {
  margin: 0;

  color: #000000;

  font-family: 'Montserrat', sans-serif;
  font-weight: bold;

  /* font-size: 32px; */
  font-size: 2rem;
}

.Post__headline2 {
  margin: 0;

  color: #1a1a1a;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;

  /* font-size: 24px; */
  font-size: 1.5rem;
  /* line-height: 32px; */
  line-height: 2rem;
}

.Post__caption {
  margin: 0;

  color: #1d1d1d;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;

  font-size: 0.75rem;

  line-height: 1.25rem;
}

.Post__body {
  /* margin: 16px 0; */
  margin: 1rem 0;

  color: #101010;

  font-family: 'Montserrat', sans-serif;

  /* font-size: 16px; */
  font-size: 1rem;
  text-align: justify;

  /* line-height: 32px; */
  line-height: 1.5rem;
}
