.Tag {
  color: #0000E7;
}

.Tag:hover {
  color: rgba(0, 0, 90, 0.4);
}

.Tag__body {
  margin: 0;

  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

  font-size: 0.75rem;

  line-height: 1.25rem;
}
