.button-icon {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.button-icon:hover {
  background: none;
}

.button-icon:active {
  border: none;
}

.button-icon:focus {
  border: none;
}
