.content-container {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100%;
  box-shadow: 0 var(--shadow-layer-1) var(--shadow-blur) var(--shadow-primary);
}

.content {
  display: flex;
  justify-content: space-between;
  margin: 16px;
  width: 100%;
  max-width: 60rem;
}
