.navbar {
    /* padding: 0 10vw; */
    width: 100vw;
    height: 3rem;
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

.navbar-grid {
    height: 100%;
    border-bottom: 1px solid red;
}

.navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.nav-item {
    /* margin-right: 1.25rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.nav-link {
    color: var(--text-primary);
    text-decoration: none;
}

.nav-link:hover {
    color: var(--text-secondary);
}

.has-dropdown {
}

.dropdown {
    position: absolute;
    width: 90vw;
    opacity: 0;
    z-index: 2;
    background: blueviolet;
    border-top: 2px solid blue;
}

.dropdown-item {

}
