.navbar {
    padding: 0 10vw;
    width: 80vw;
    height: 3rem;
    /* background-color: var(--bg-primary); */
}

.navbar-content {
    display: flex;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    height: 100%;
    max-width: 800px;
}

.nav-item {
    margin-right: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.nav-item:last-child {
    margin-left: auto;
}

.nav-link {
    text-decoration: none;
}
