.navbar {
    width: 100vw;
    height: 4rem;
    background-color: var(--bg-secondary);
    color: var(--text-primary);

    border-bottom: 1px solid var(--border-primary);

    box-shadow: 0 0 var(--shadow-blur-radius) var(--shadow-primary);
}

.navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.nav-link {
    color: var(--text-primary);
    text-decoration: none;
}

.nav-link:hover {
    color: var(--text-secondary);
}

@media only screen and (max-width: 599px) {
    .navbar-menu {
        visibility: visible;
        display: flex;
    }

    .navbar-theme {
        visibility: visible;
    }

    .navbar-nav {
        visibility: hidden;
    }

    .navbar-nav:focus-within {
        visibility: visible;
    }

    .nav-item {
        /* padding: ; */
    }

    .nav-item-selected {
        border-left: 2px solid var(--bg-secondary);
    }
}

@media only screen and (min-width: 600px) {
    .navbar-menu {
        visibility: hidden;
        display: none;
    }

    .navbar-nav {
        visibility: visible;
    }

    .nav-item {
        padding: 0 15px;
    }

    .nav-item-selected {
        border-bottom: 2px solid var(--bg-secondary);
    }
}