---
import Head from "../components/head/Head.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Head>
      <slot name="head" />
    </Head>
  </head>
  <body class="dark:bg-slate-900 dark:text-white">
    <script>
      function onLoad() {
        const storedTheme = localStorage.getItem("theme");
        if (
          storedTheme === "dark" ||
          (storedTheme === null &&
            window.matchMedia("(prefers-color-scheme: dark)").matches)
        ) {
          document.documentElement.classList.remove("light");
          document.documentElement.classList.add("dark");

          localStorage.setItem("theme", "dark");
        } else {
          document.documentElement.classList.add("light");
          document.documentElement.classList.remove("dark");

          localStorage.setItem("theme", "light");
        }
        document.body.classList.add("transition-colors");

        document.removeEventListener("DOMContentLoaded", onLoad);
      }
      document.addEventListener("DOMContentLoaded", onLoad);
    </script>

    <slot />
  </body>
</html>
