---
import Head from '../components/head/Head.astro';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Head>
      <slot name="head" />
    </Head>
  </head>
  <body>
    <slot />
  </body>
</html>
