---
import Head from "../components/head/Head.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Head>
      <slot name="head" />
    </Head>
  </head>
  <body class="dark:bg-slate-900 dark:text-white">
    <script>
      function setTheme(theme) {
        if (theme === "light") {
          document.documentElement.classList.add("light");
          document.documentElement.classList.remove("dark");

          localStorage.setItem("theme", "light");
        } else if (theme === "dark") {
          document.documentElement.classList.remove("light");
          document.documentElement.classList.add("dark");

          localStorage.setItem("theme", "dark");
        }
      }

      const storedTheme = localStorage.getItem("theme");
      if (
        storedTheme === "dark" ||
        (storedTheme === null &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        setUserTheme("dark");
      } else {
        setUserTheme("light");
      }
      document.body.classList.add("transition-colors");
    </script>

    <slot />
  </body>
</html>
