---
import Head from "../components/head/Head.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Head>
      <slot name="head" />
    </Head>
  </head>
  <body class="transition-colors dark:bg-slate-900 dark:text-white">
    <slot />
  </body>
</html>
