---
import { ViewTransitions } from "astro:transitions";
import Head from "../components/head/Head.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Head>
      <slot name="head" />

      <ViewTransitions />
    </Head>

    <script is:inline>
      const storedTheme = localStorage.getItem("theme");
      if (
        storedTheme === "dark" ||
        (storedTheme === null &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
        localStorage.setItem("theme", "dark");
      } else {
        document.documentElement.classList.add("light");
        localStorage.setItem("theme", "light");
      }

      setTimeout(function () {
        document.body.classList.add("transition-colors");
      }, 100);
    </script>
  </head>
  <body class="dark:bg-slate-900 dark:text-white">
    <slot />
  </body>
</html>
