---
import Separator from "../components/Separator.astro";
import Meta from "../components/head/Meta.astro";
import { getLangFromUrl, getTransalations } from "../i18n";
import Document from "./Document.astro";
import Typography from "../components/Typography.astro";
import NavItem from "../components/navigation/NavItem.astro";
import Social from "../components/header/Social.astro";
import Breadcrumb from "../components/navigation/Breadcrumb.astro";

export interface Props {
  title?: string;
  description?: string;
}

const lang = getLangFromUrl(Astro.url);
const t = getTransalations(lang);

const SITE_TITLE = t("site.title");
const SITE_DESCRIPTION = t("site.description");

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;

const shouldIncludeMeta =
  typeof title === "string" && typeof description === "string";

const finalTitle = title === SITE_TITLE ? title : `${title} ~ ${SITE_TITLE}`;
---

<Document>
  {
    shouldIncludeMeta && (
      <Meta slot="head" title={finalTitle} description={description} />
    )
  }

  <div
    class="container relative mx-auto flex min-h-screen max-w-5xl justify-center"
  >
    <div class="absolute inset-0 -z-10 bg-gray-200 md:hidden"></div>
    <aside
      class="absolute bottom-0 left-0 top-0 z-0 flex w-80 -translate-x-80 flex-col items-end bg-white px-3 py-8 md:sticky md:translate-x-0"
    >
      <header>
        <a href="/"><img src="/logo.svg" alt="" class="h-24 w-24" /></a>

        <div class="text-right">
          <Typography variant="h2">
            <a href="/">{t("header.blog")}</a>
          </Typography>
        </div>
      </header>

      <Separator />

      <nav>
        <ul>
          <NavItem href="/" align="right">{t("nav.home")}</NavItem>

          <NavItem href="/p" align="right">{t("nav.posts")}</NavItem>
        </ul>
      </nav>

      <Separator color="secondary" />

      <Social />
    </aside>

    <div class="flex-grow px-3 py-8">
      <section class="">
        <Breadcrumb />
      </section>

      <main>
        <slot />
      </main>
    </div>
  </div>
</Document>
