---
import Separator from "../components/Separator.astro";
import Meta from "../components/head/Meta.astro";
import { getLangFromUrl, getTransalations } from "../i18n";
import Document from "./Document.astro";
import Typography from "../components/Typography.astro";
import NavItem from "../components/navigation/NavItem.astro";
import Social from "../components/header/Social.astro";
import Breadcrumb from "../components/navigation/Breadcrumb.astro";
import Aside from "../components/navigation/Aside";

export interface Props {
  title?: string;
  description?: string;
}

const lang = getLangFromUrl(Astro.url);
const t = getTransalations(lang);

const SITE_TITLE = t("site.title");
const SITE_DESCRIPTION = t("site.description");

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;

const shouldIncludeMeta =
  typeof title === "string" && typeof description === "string";

const finalTitle = title === SITE_TITLE ? title : `${title} ~ ${SITE_TITLE}`;
---

<Document>
  {
    shouldIncludeMeta && (
      <Meta slot="head" title={finalTitle} description={description} />
    )
  }

  <div
    class="min-h-small-screen container relative mx-auto flex min-h-screen max-w-5xl flex-col justify-between"
  >
    <div class="flex justify-center">
      <Aside client:load>
        <header>
          <a href="/" aria-label={t("header.blog")}
            ><img src="/logo.svg" alt="" class="h-24 w-24" /></a
          >

          <div class="text-right">
            <Typography variant="h2">
              <a href="/">{t("header.blog")}</a>
            </Typography>
          </div>
        </header>

        <Separator />

        <nav>
          <ul>
            <NavItem href="/" align="right">{t("nav.home")}</NavItem>
          </ul>
        </nav>

        <Separator color="secondary" />

        <Social />
      </Aside>

      <div class="max-w-full flex-grow px-3 py-8">
        <section class="">
          <Breadcrumb />
        </section>

        <main>
          <slot />
        </main>
      </div>
    </div>

    <footer class="flex justify-center">
      <p class="py-1">&copy; Sebastian</p>
    </footer>
  </div>
</Document>

<style lang="scss">
  .min-h-small-screen {
    min-height: 100svh !important;
  }
</style>
